h1{
    font-size: 30px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 18px;    
}

body{
    background-color: black;
    color: green;
    font-family: 'VT323', monospace;    
}

header{
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    border-bottom: 3px dotted green;
    border-top: 3px dotted green;
    line-height: 2em;
}

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    border-top: 3px dotted green;
    border-bottom: 3px dotted green;
    line-height: 1.5em;
    overflow: auto;
}

.container-left{
    width: 400px;
    float: left;
}

.word-current{
    text-align: justify;
}

aside{
    width: 100%;
    max-width: 200px;
    height: 600px;
    float: right;
    margin: 0 auto;
    padding: 10px;
    border-left: 3px dotted green;
    line-height: 1.5em;
    text-align: center;
}

#guessed-words, #scrambled-words {
    line-height: 1.5;
}