h1{
    font-size: 30px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 18px;    
}

body{
    background-color: black;
    color: green;
    font-family: 'VT323', monospace;    
}

header{
    max-width: 700px;
    margin: 20px auto 0px;
    padding: 10px;
    text-align: left;
    border-top: 3px dotted green;
    line-height: 2em;
}

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    border-top: 3px dotted green;
    border-bottom: 3px dotted green;
    line-height: 1.5em;
    overflow: auto;
}

.container-left{
    width: 400px;
    float: left;
}

.tracker-left{
    float: left;
    width: 250px;
}
.tracker-right{
    float: right;
    width: 150px;
}

.word-current{
    text-align: justify;
}

aside{
    width: 100%;
    max-width: 200px;
    height: 600px;
    float: right;
    margin: 0 auto;
    padding: 10px;
    border-left: 3px dotted green;
    line-height: 1.5em;
    text-align: center;
}

#guessed-words, #scrambled-words {
    line-height: 1.5;
}

.alert{
    position: fixed;
    border: 3px solid green;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -50px;
    background-color: black;
    opacity: 0;
}

.alert-header{
    text-align: center;
    color: black;
    background-color: green;
}

.alert-body{
    padding: 10px;
}

